:root {
    --main-color :#121421;
    --div-color:#171c2a;
    --text-color:#fbfefe;
    --bonus-color:#2a2d41;
}
*{
    padding: 0;
    margin: 0;
}

html,body{
    background-color: var(--main-color);
    color: var(--text-color);
 
}
main{
       display: flex;
       justify-content: center;
    
}

header,footer,section{
    background-color: var(--div-color);
}
header{
    width: 100%;
    height:4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
header>h1,p{
    margin: 0 20px;
}
section>h2{
    display: flex;
    justify-content: center;
}
h2{
    margin-bottom: 20px;
}

li{
    list-style-type: none;
}
section{
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--bonus-color);
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: rgba(240, 46, 170, 0.1) -5px 5px, rgba(240, 46, 170, 0.05) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
.card{
    background-color: var(--bonus-color);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

main{ display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/*
#sytem,#network,#process,#files{  
}
*/


th,tr,td{
    border: 1px solid var(--text-color);
    padding: 5px;
}
/*button not used*/
#button{
    color: var(--text-color);
    background-color: var(--bonus-color);
    border: 1px solid var;
    border-radius: 5%;
    padding: 5px;
}
footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*media query desktop TODO*/

@media (min-width: 900px) {

    main{
        padding: 50px 0;
    }
    section{
        max-width: 37%;
    }
    #process,#files{
        max-width:100%;
    }
#process_table_top3>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
}